@import './variables/fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}
